@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background:
    oklch(1.0000 0 0);
  --foreground:
    oklch(0.2102 0.0060 285.8742);
  --card:
    oklch(0.9848 0 0);
  --card-foreground:
    oklch(0.2102 0.0060 285.8742);
  --popover:
    oklch(1.0000 0 0);
  --popover-foreground:
    oklch(0.2102 0.0060 285.8742);
  --primary:
    oklch(0.6390 0.1558 143.4823);
  --primary-foreground:
    oklch(0.9848 0 0);
  --secondary:
    oklch(0.9676 0.0070 247.8971);
  --secondary-foreground:
    oklch(0.2079 0.0399 265.7275);
  --muted:
    oklch(0.9676 0.0070 247.8971);
  --muted-foreground:
    oklch(0.5547 0.0407 257.4404);
  --accent:
    oklch(0.9676 0.0070 247.8971);
  --accent-foreground:
    oklch(0.2079 0.0399 265.7275);
  --destructive:
    oklch(0.6356 0.2082 25.3782);
  --destructive-foreground:
    oklch(0.9848 0 0);
  --border:
    oklch(0.9290 0.0126 255.5317);
  --input:
    oklch(0.9290 0.0126 255.5317);
  --ring:
    oklch(0.6390 0.1558 143.4823);
  --chart-1:
    oklch(0.6390 0.1558 143.4823);
  --chart-2:
    oklch(0.8150 0.1507 78.5051);
  --chart-3:
    oklch(0.6907 0.1236 234.6736);
  --chart-4:
    oklch(0.6261 0.1620 313.3711);
  --chart-5:
    oklch(0.6842 0.1688 351.2746);
  --radius:
    0.5rem;
  --sidebar:
    oklch(1.0000 0 0);
  --sidebar-foreground:
    oklch(0.2102 0.0060 285.8742);
  --sidebar-primary:
    oklch(0.6390 0.1558 143.4823);
  --sidebar-primary-foreground:
    oklch(0.9848 0 0);
  --sidebar-accent:
    oklch(0.9676 0.0070 247.8971);
  --sidebar-accent-foreground:
    oklch(0.2079 0.0399 265.7275);
  --sidebar-border:
    oklch(0.9290 0.0126 255.5317);
  --sidebar-ring:
    oklch(0.6390 0.1558 143.4823);
  --font-sans:
    'Inter', sans-serif;
  --font-serif:
    'Playfair Display', serif;
  --font-mono:
    'Fira Code', monospace;
  --shadow-color:
    hsl(240, 6%, 10%);
  --shadow-opacity:
    0.05;
  --shadow-blur:
    0.5rem;
  --shadow-spread:
    0rem;
  --shadow-offset-x:
    0rem;
  --shadow-offset-y:
    0.125rem;
  --letter-spacing:
    0em;
  --spacing:
    0.25rem;
  --shadow-2xs:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.03);
  --shadow-xs:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.03);
  --shadow-sm:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.05), 0rem 1px 2px -1px hsl(240 6% 10% / 0.05);
  --shadow:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.05), 0rem 1px 2px -1px hsl(240 6% 10% / 0.05);
  --shadow-md:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.05), 0rem 2px 4px -1px hsl(240 6% 10% / 0.05);
  --shadow-lg:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.05), 0rem 4px 6px -1px hsl(240 6% 10% / 0.05);
  --shadow-xl:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.05), 0rem 8px 10px -1px hsl(240 6% 10% / 0.05);
  --shadow-2xl:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.13);
  --tracking-normal:
    0em;
}

.dark {
  --background:
    oklch(0.2102 0.0060 285.8742);
  --foreground:
    oklch(0.9848 0 0);
  --card:
    oklch(0.2313 0.0070 285.8391);
  --card-foreground:
    oklch(0.9848 0 0);
  --popover:
    oklch(0.2102 0.0060 285.8742);
  --popover-foreground:
    oklch(0.9848 0 0);
  --primary:
    oklch(0.6390 0.1558 143.4823);
  --primary-foreground:
    oklch(0.9848 0 0);
  --secondary:
    oklch(0.3114 0.0109 285.7527);
  --secondary-foreground:
    oklch(0.9848 0 0);
  --muted:
    oklch(0.3114 0.0109 285.7527);
  --muted-foreground:
    oklch(0.6418 0.0360 257.4318);
  --accent:
    oklch(0.3114 0.0109 285.7527);
  --accent-foreground:
    oklch(0.9848 0 0);
  --destructive:
    oklch(0.6356 0.2082 25.3782);
  --destructive-foreground:
    oklch(0.9848 0 0);
  --border:
    oklch(0.3588 0.0131 285.7213);
  --input:
    oklch(0.3588 0.0131 285.7213);
  --ring:
    oklch(0.6390 0.1558 143.4823);
  --chart-1:
    oklch(0.6390 0.1558 143.4823);
  --chart-2:
    oklch(0.8150 0.1507 78.5051);
  --chart-3:
    oklch(0.6907 0.1236 234.6736);
  --chart-4:
    oklch(0.6261 0.1620 313.3711);
  --chart-5:
    oklch(0.6842 0.1688 351.2746);
  --sidebar:
    oklch(0.2102 0.0060 285.8742);
  --sidebar-foreground:
    oklch(0.9848 0 0);
  --sidebar-primary:
    oklch(0.6390 0.1558 143.4823);
  --sidebar-primary-foreground:
    oklch(0.9848 0 0);
  --sidebar-accent:
    oklch(0.3114 0.0109 285.7527);
  --sidebar-accent-foreground:
    oklch(0.9848 0 0);
  --sidebar-border:
    oklch(0.3114 0.0109 285.7527);
  --sidebar-ring:
    oklch(0.6390 0.1558 143.4823);
  --radius:
    0.5rem;
  --font-sans:
    'Inter', sans-serif;
  --font-serif:
    'Playfair Display', serif;
  --font-mono:
    'Fira Code', monospace;
  --shadow-color:
    hsl(240, 6%, 10%);
  --shadow-opacity:
    0.5;
  --shadow-blur:
    0.5rem;
  --shadow-spread:
    0rem;
  --shadow-offset-x:
    0rem;
  --shadow-offset-y:
    0.125rem;
  --letter-spacing:
    0em;
  --spacing:
    0.25rem;
  --shadow-2xs:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.25);
  --shadow-xs:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.25);
  --shadow-sm:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.50), 0rem 1px 2px -1px hsl(240 6% 10% / 0.50);
  --shadow:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.50), 0rem 1px 2px -1px hsl(240 6% 10% / 0.50);
  --shadow-md:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.50), 0rem 2px 4px -1px hsl(240 6% 10% / 0.50);
  --shadow-lg:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.50), 0rem 4px 6px -1px hsl(240 6% 10% / 0.50);
  --shadow-xl:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 0.50), 0rem 8px 10px -1px hsl(240 6% 10% / 0.50);
  --shadow-2xl:
    0rem 0.125rem 0.5rem 0rem hsl(240 6% 10% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans:
    'Inter', sans-serif;
  --font-mono:
    'Fira Code', monospace;
  --font-serif:
    'Playfair Display', serif;
  --radius:
    0.5rem;
  --tracking-tighter:
    calc(var(--tracking-normal) - 0.05em);
  --tracking-tight:
    calc(var(--tracking-normal) - 0.025em);
  --tracking-wide:
    calc(var(--tracking-normal) + 0.025em);
  --tracking-wider:
    calc(var(--tracking-normal) + 0.05em);
  --tracking-widest:
    calc(var(--tracking-normal) + 0.1em);
  --tracking-normal:
    var(--tracking-normal);
  --shadow-2xl:
    var(--shadow-2xl);
  --shadow-xl:
    var(--shadow-xl);
  --shadow-lg:
    var(--shadow-lg);
  --shadow-md:
    var(--shadow-md);
  --shadow:
    var(--shadow);
  --shadow-sm:
    var(--shadow-sm);
  --shadow-xs:
    var(--shadow-xs);
  --shadow-2xs:
    var(--shadow-2xs);
  --spacing:
    var(--spacing);
  --letter-spacing:
    var(--letter-spacing);
  --shadow-offset-y:
    var(--shadow-offset-y);
  --shadow-offset-x:
    var(--shadow-offset-x);
  --shadow-spread:
    var(--shadow-spread);
  --shadow-blur:
    var(--shadow-blur);
  --shadow-opacity:
    var(--shadow-opacity);
  --color-shadow-color:
    var(--shadow-color);
  --radius-2xl:
    calc(var(--radius) + 8px);
  --radius-3xl:
    calc(var(--radius) + 12px);
  --radius-4xl:
    calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing:
    var(--tracking-normal);
  }
}