@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Anek Bangla Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  font-stretch: 75% 125%;
  src: url(@fontsource-variable/anek-bangla/files/anek-bangla-bengali-wdth-normal.woff2) format('woff2-variations');
  unicode-range: U+0951-0952,U+0964-0965,U+0980-09FE,U+1CD0,U+1CD2,U+1CD5-1CD6,U+1CD8,U+1CE1,U+1CEA,U+1CED,U+1CF2,U+1CF5-1CF7,U+200C-200D,U+20B9,U+25CC,U+A8F1;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Anek Bangla Variable", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background: oklch(0.9791 0 0);
  --foreground: oklch(0.3564 0.0391 248.9745);
  --card: oklch(0.9791 0 0);
  --card-foreground: oklch(0.3564 0.0391 248.9745);
  --popover: oklch(0.9791 0 0);
  --popover-foreground: oklch(0.3564 0.0391 248.9745);
  --primary: oklch(0.6020 0.1618 149.1173);
  --primary-foreground: oklch(0.9791 0 0);
  --secondary: oklch(0.9429 0.0306 145.3276);
  --secondary-foreground: oklch(0.4135 0.0351 250.2302);
  --muted: oklch(0.9311 0.0042 271.3674);
  --muted-foreground: oklch(0.5104 0.0356 258.9190);
  --accent: oklch(0.8979 0.0537 161.1576);
  --accent-foreground: oklch(0.3564 0.0391 248.9745);
  --destructive: oklch(0.5422 0.1956 26.7705);
  --destructive-foreground: oklch(0.9791 0 0);
  --border: oklch(0.8903 0.0064 255.4784);
  --input: oklch(0.8903 0.0064 255.4784);
  --ring: oklch(0.6020 0.1618 149.1173);
  --chart-1: oklch(0.6020 0.1618 149.1173);
  --chart-2: oklch(0.5793 0.1221 163.0943);
  --chart-3: oklch(0.5119 0.1140 160.5232);
  --chart-4: oklch(0.4323 0.0952 161.1770);
  --chart-5: oklch(0.3721 0.0807 161.0926);
  --sidebar: oklch(0.9429 0.0306 145.3276);
  --sidebar-foreground: oklch(0.3564 0.0391 248.9745);
  --sidebar-primary: oklch(0.6020 0.1618 149.1173);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.8979 0.0537 161.1576);
  --sidebar-accent-foreground: oklch(0.3564 0.0391 248.9745);
  --sidebar-border: oklch(0.8903 0.0064 255.4784);
  --sidebar-ring: oklch(0.6020 0.1618 149.1173);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1907 0.0268 260.8793);
  --foreground: oklch(0.8249 0.0155 260.7276);
  --card: oklch(0.2538 0.0279 257.5254);
  --card-foreground: oklch(0.8249 0.0155 260.7276);
  --popover: oklch(0.2538 0.0279 257.5254);
  --popover-foreground: oklch(0.8249 0.0155 260.7276);
  --primary: oklch(0.6468 0.1287 162.1907);
  --primary-foreground: oklch(0.1907 0.0268 260.8793);
  --secondary: oklch(0.3213 0.0350 144.7061);
  --secondary-foreground: oklch(0.6838 0.0276 261.1182);
  --muted: oklch(0.2249 0.0240 259.2976);
  --muted-foreground: oklch(0.5154 0.0311 262.2225);
  --accent: oklch(0.3520 0.0344 255.3072);
  --accent-foreground: oklch(0.6838 0.0276 261.1182);
  --destructive: oklch(0.5422 0.1956 26.7705);
  --destructive-foreground: oklch(0.1907 0.0268 260.8793);
  --border: oklch(0.4153 0.0316 253.8028);
  --input: oklch(0.4153 0.0316 253.8028);
  --ring: oklch(0.6468 0.1287 162.1907);
  --chart-1: oklch(0.6468 0.1287 162.1907);
  --chart-2: oklch(0.7287 0.1230 183.3523);
  --chart-3: oklch(0.6419 0.1737 148.5350);
  --chart-4: oklch(0.6093 0.1165 171.3582);
  --chart-5: oklch(0.5352 0.1105 165.7742);
  --sidebar: oklch(0.3213 0.0350 144.7061);
  --sidebar-foreground: oklch(0.8249 0.0155 260.7276);
  --sidebar-primary: oklch(0.6468 0.1287 162.1907);
  --sidebar-primary-foreground: oklch(0.1907 0.0268 260.8793);
  --sidebar-accent: oklch(0.3520 0.0344 255.3072);
  --sidebar-accent-foreground: oklch(0.6838 0.0276 261.1182);
  --sidebar-border: oklch(0.4153 0.0316 253.8028);
  --sidebar-ring: oklch(0.6468 0.1287 162.1907);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  /* Custom utilities */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
